body {
    width: 100%;
    height: 100%;
}

main {
    width: 100%;
    height: 100%;
}

.search {
    width: 40vw;
    height: 40px;
    display: flex;
    background-color: white;
    margin-left: 50%;
    margin-top: 5vh;
    align-items: center;
    border-radius: 3px;
    box-shadow: 2px 2px 5px gray;
}

select {
    border: none;
    outline: none;
    border-right: 1px solid gray;
    margin-left: 10%;
}

.search_shop {
    display: flex;
    margin-left: 10px;
}

input {
    border: none;
}

.article {
    width: 100%;
    height: 100px;
    padding: 50px 5vw;
    display: flex;
    flex-wrap: wrap;
}

.section {
    width: 20vw;
    height: 20vw;
    background-color: white;
    margin: 10px;
    border-radius: 6px;
    box-shadow: 2px 2px 5px gray;
}

.img_section {
    width: 100%;
    height: 50%;
}

.shop_img {
    width: 20vw;
    height: 10vw;
    border-radius: 6px 6px 0 0;
}

.shop_section {
    width: auto;
    height: 50%;
    margin: 1vw;
}

.shop_section_header h2 {
    font-size: 1.2vw;
}

.tag {
    display: flex;
    font-size: 1vw;
}

.section_footer {
    width: 100%;
    height: auto;
    margin-top: 1vw;
    display: flex;
    justify-content: space-between;
}

.footer_btn {
    border: 1px solid rgb(65, 65, 255);
    background-color: rgb(65, 65, 255);
    padding: 0.5vw 1vw;
    border-radius: 6px;
}

.footer_btn a {
    display: block;
    color: white;
    font-size: 1vw;
    line-height: 2vw;
}

.favorite_btn button {
    border: none;
    background-color: white;
}

.favorite_btn img {
    width: 3vw;
    height: 3vw;
}

