main {
    width: 100%;
    height: auto;
    display: flex;
}

.reserve_content {
    width: 40%;
    height: auto;
    padding: 13vw 3vw;
    flex-direction: column;
}

.content_title {
    width: 100%;
}
.content_title h3 {
    font-size: 1.8vw;
}

.content_center {
    width: 100%;
    height: auto;
    margin-top: 6%;
}

.content_box {
    height: 18vw;
    background-color: rgb(65, 65, 255);
    border-radius: 0.3vw;
    box-shadow: 0.1vw 0.1vw 0.3vw gray;
    margin-bottom: 5%;
}

.box_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 35%;
    padding: 5%;
}

.box_nav-head {
    display: flex;
    width: 100%;
}

.time_icon , .reserve_number , .review_btn a button, .cancel_btn form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.reserve_number {
    color: white;
    padding-left: 5%;
    font-size: 1.2vw;
}

.box_nav .time_icon svg {
    width: 2vw;
    height: 2vw;
}

.box_nav .cancel_btn svg {
    width: 1.8vw;
    height: 1.8vw;
}

.cancel_btn button {
    background-color: rgb(65, 65, 255);
    border: none;
}
.reserve_table {
    width: 100%;
    height: auto;
    color: white;
    padding-left: 7%;
    text-align: left;
}

table {
    font-size: 1vw;
}

table th ,table td {
    width: 20%;
    padding-top: 5%;
}

table td {
    width: 70%;
    padding-left: 5%;
}

/*right-section*/

.favorite_shops {
    position: absolute;
    top: 0;
    left: 40%;
    width: 60%;
    height: auto;
    padding: 8vw 5vw;
}

.user_name {
    width: 100%;
}

.user_name h2 {
    font-size: 2.5vw;
}



.favorite_title {
    width: 100%;
    padding-top: 2.5%;
}

.favorite_title h3 {
    font-size: 1.8vw;
}

.shop {
    width: 100%;
    height: auto;
    padding-top: 1.7vw;
    display: flex;
    flex-wrap: wrap;
}

.section {
    width: 40%;
    height: 19vw;
    margin-right: 8%;
    margin-bottom: 8%;
    background-color: white;
    border-radius: 0.3vw;
    box-shadow: 0.1vw 0.1vw 0.3vw gray;
}

.img_section {
    width: 100%;
    height: 50%;
}

.img_section img {
    width: 100%;
    height: 100%;
    border-radius: 0.3vw 0.3vw 0 0;
}

.shop_section {
    width: 100%;
    height: 50%;
    padding: 5%;
}

.shop_section_header {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
}

.shop_section_header h2 {
    font-size: 1.2vw;
}

.tag {
    height: 20%;
    display: flex;
    font-size: 0.8vw;
}

.section_footer {
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: space-between;
}

.footer_btn button , .favorite_btn button{
    border: none;
}

.footer_btn form , .favorite_btn form {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.favorite_btn form {
    display: flex;
    justify-content: end;
}


.footer_btn , .favorite_btn {
    width: 50%;
}


.footer_btn button {
    background-color: rgb(65, 65, 255);
    width: 70%;
    height: 60%;
    color: white;
    font-size: 1vw;
    border-radius: 0.3vw;
}

.favorite_btn button {
    background-color: white;
}

.favorite_btn button img {
    width: 2.5vw;
    height: 2.5vw;
}

/*追加実装予約編集*/
.edit_btn a button {
    margin-right: 1vw;
    width: 4vw;
    height: 2vw;
    background-color: rgb(65, 65, 255);
    border: none;
    border: 0.1vw solid white;
    border-radius: 0.3vw;
    color: white;
    font-size: 1vw;
}

.review_btn a button {
    margin-right: 1vw;
    width: 4vw;
    height: 2vw;
    background-color: rgb(65, 65, 255);
    border: none;
    border: 0.1vw solid white;
    border-radius: 0.3vw;
    color: white;
    font-size: 1vw;
}

@media (max-width: 768px) {
    .reserve_content {
        width: 50%;
        padding: 13vh 5vw;
        position: absolute;
        top: 1vh;
    }

    .favorite_shops {
        width: 50%;
        left: 50%;
        padding: 8vh 5vw;
        top: 3vh;
    }
    .shop {
        flex-direction: column;
    }
}